In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_g7sec1 = pd.read_spss(path='g7sec1.sav')

In [3]:
health = pd.read_spss(path='g7sec3b_Health_Insurance.sav')

In [4]:
g7sec7 = pd.read_spss(path='g7sec7.sav')

In [5]:
g7sec7j = pd.read_spss(path='g7sec7j.sav')

In [6]:
g7sec2 = pd.read_spss(path='g7sec2.sav')

#g7sec7j_sel = g7sec7j[[]]

In [7]:
df_g7sec1.columns

Index(['phid', 'hid', 'clust', 'nh', 'pid', 's1q2', 's1q3', 's1q4dd', 's1q4mm',
       's1q4yy', 's1q5y', 's1q5m', 's1q6', 's1q7', 's1q8', 's1q9', 's1q10',
       's1q10o', 's1q11', 's1q12', 's1q12o', 's1q13', 's1q14', 's1q15',
       's1q16', 's1q16a', 's1q16ao', 's1q17', 's1q17o', 's1q18', 's1q19',
       's1q20', 's1q20a', 's1q20ao', 's1q21', 's1q21o', 's1q22', 's1q23',
       's1q24', 'region', 'loc2', 'WTA_S'],
      dtype='object')

In [8]:
health.columns

Index(['phid', 'clust', 'nh', 'pid', 's3bqpid', 's3bq1', 's3bq2', 's3bq2o',
       's3bq3', 's3bq4', 's3bq4o', 's3bq5', 's3bq5o', 's3bq6', 's3bq7a1',
       's3bq7a2', 's3bq7a3', 's3bq7a4', 's3bq7a5', 's3bq7a6', 's3bq7a7',
       's3bq7ao', 's3bq7b1', 's3bq7b2', 's3bq7b3', 's3bq7b4', 's3bq7b5',
       's3bq7b6', 's3bq7b7', 's3bq7bo', 's3bq8', 's3bq9a', 's3bq9b', 's3bq10',
       'hid', 'region', 'loc2', 'WTA_S'],
      dtype='object')

In [9]:
g7sec7.columns

Index(['hid', 'clust', 'nh', 's7aq1', 's7aq1o', 's7aq2', 's7aq3', 's7aq4',
       's7aq5', 's7bq1',
       ...
       's7hq3a', 's7hq3b', 's7hq3c', 's7hq4', 's7fiq1', 's7hqa', 's7hq2s',
       'region', 'loc2', 'WTA_S'],
      dtype='object', length=149)

In [10]:
g7sec7j.columns

Index(['phid', 'clust', 'nh', 'pid', 'sex', 'age_yrs', 'age_mths', 's7jq0',
       's7jq1', 's7jq2', 's7jq3', 'hid', 'region', 'loc2', 'WTA_S'],
      dtype='object')

In [11]:
df_g7sec1['s1q6'].value_counts()

Never married       17842
Married             15735
Widowed              2826
Consensual Union     2502
Divorced             1095
Separated             831
Name: s1q6, dtype: int64

In [12]:
df_g7sec1['s1q9'].count()

22988

In [13]:
## used 'phid' as individuals in household

# select columns of interest for each dataset
# join data together on phid

In [14]:
df_sel = df_g7sec1[['phid', 'hid', 'clust', 'nh', 'pid', 's1q2', 's1q5y', 
                     's1q14', 's1q18', 's1q22', 's1q10', 's1q6'
                ]]

In [15]:
df_sel_sec2 = g7sec2[['phid', 'clust', 'nh', 'pid','s2aq1','s2aq1b']]

In [16]:
data = df_sel.merge(right=g7sec7j, on='phid', how='outer').merge(right=df_sel_sec2, 
                                                          how='outer',
                                                          on='phid'
                                                          )

In [17]:
data = data.rename(columns={'s7jq1': 'weight',
                     's7jq0': 'measured_or_not',
                     's7jq2': 'measure_mode',
                     's7jq3': 'Height',
                     'loc2':'urbrur',
                     's1q22':'months_away_from_hse',
                     's1q14':'father_in_hse',
                     's2aq1b':'highest_edu',
                     's1q2':'sex',
                     's1q18': 'mother_in_hse',
                     's1q5y': 'age_years',
                     's1q10': 'religion',
                     's2aq1': 'attend_school',
                     's1q6': 'marital_status'
                     }
            ).copy()

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59864 entries, 0 to 59863
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   phid                  59864 non-null  object
 1   hid_x                 59864 non-null  object
 2   clust_x               59864 non-null  float64
 3   nh_x                  59864 non-null  float64
 4   pid_x                 59864 non-null  float64
 5   sex                   59864 non-null  category
 6   age_years             59864 non-null  float64
 7   father_in_hse         59862 non-null  category
 8   mother_in_hse         59863 non-null  category
 9   months_away_from_hse  59864 non-null  float64
 10  religion              59864 non-null  category
 11  marital_status        40831 non-null  category
 12  clust_y               58804 non-null  float64
 13  nh_y                  58804 non-null  float64
 14  pid_y                 58804 non-null  float64
 15  sex                   58804 non-null  category
 16  age_yrs               58804 non-null  float64
 17  age_mths              7549 non-null   float64
 18  measured_or_not       58803 non-null  category
 19  weight                48393 non-null  float64
 20  measure_mode          48397 non-null  category
 21  Height                48145 non-null  float64
 22  hid_y                 58804 non-null  object
 23  region                58804 non-null  category
 24  urbrur                58804 non-null  category
 25  WTA_S                 58804 non-null  float64
 26  clust                 54516 non-null  float64
 27  nh                    54516 non-null  float64
 28  pid                   54516 non-null  float64
 29  attend_school         54516 non-null  category
 30  highest_edu           42844 non-null  category
dtypes: category(12), float64(16), object(3)
memory usage: 9.8+ MB

In [19]:
data.describe()

,clust_x,nh_x,pid_x,age_years,months_away_from_hse,clust_y,nh_y,pid_y,age_yrs,age_mths,weight,Height,WTA_S,clust,nh,pid
count,59864.000000,59864.000000,59864.000000,59864.000000,59864.000000,58804.000000,58804.000000,58804.000000,58804.000000,7549.000000,48393.000000,48145.000000,58804.000000,54516.000000,54516.000000,54516.000000
mean,70545.428688,7.998814,3.637762,24.997461,0.348423,70545.655466,8.003299,3.615162,25.051408,5.379653,46.470164,140.439831,474.122793,70545.050829,7.999817,3.446273
std,295.073851,4.320057,2.751767,20.289026,1.535261,295.070610,4.318244,2.736751,20.359195,3.498465,23.226349,35.129087,443.717750,295.615170,4.320843,2.652761
min,70001.000000,1.000000,1.000000,0.000000,0.000000,70001.000000,1.000000,1.000000,0.000000,0.000000,0.250000,10.000000,21.816969,70001.000000,1.000000,1.000000
25%,70297.000000,4.000000,2.000000,9.000000,0.000000,70297.000000,4.000000,2.000000,9.000000,2.000000,25.700001,122.000000,203.767820,70296.000000,4.000000,1.000000
50%,70579.000000,8.000000,3.000000,19.000000,0.000000,70579.000000,8.000000,3.000000,19.000000,5.000000,50.599998,155.000000,375.380188,70576.500000,8.000000,3.000000
75%,70799.000000,12.000000,5.000000,37.000000,0.000000,70799.000000,12.000000,5.000000,37.000000,8.000000,62.400002,165.000000,592.152266,70800.000000,12.000000,5.000000
max,71000.000000,15.000000,31.000000,99.000000,12.000000,71000.000000,15.000000,31.000000,99.000000,11.000000,222.000000,264.000000,6614.401149,71000.000000,15.000000,30.000000

In [20]:
data_mar_only = data.dropna(subset='marital_status')

In [21]:
data_mar_only[['weight', 'Height', 'age_yrs']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40831 entries, 0 to 59863
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   weight   32641 non-null  float64
 1   Height   32603 non-null  float64
 2   age_yrs  40050 non-null  float64
dtypes: float64(3)
memory usage: 1.2 MB

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
label_encoder = LabelEncoder()

In [24]:
data_mar_only['marital_status_encode'] = label_encoder.fit_transform(data_mar_only['marital_status'])

<ipython-input-24-fc301016bdda>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_mar_only['marital_status_encode'] = label_encoder.fit_transform(data_mar_only['marital_status'])

In [25]:
from sklearn.ensemble import HistGradientBoostingClassifier,BaggingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import (accuracy_score,classification_report,
                             roc_auc_score,precision_score,
                             recall_score,roc_curve,
                             balanced_accuracy_score
                             )
#from sklearn.

In [26]:
X = data_mar_only[['weight', 'Height', 'age_yrs']]

y = data_mar_only[['marital_status_encode']]

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2023, 
                                                    stratify=y['marital_status_encode'],
                                                    test_size=.3 #shuffle=True
                                                    )

In [28]:
histgb = HistGradientBoostingClassifier(class_weight='balanced')

In [29]:
histgb.fit(X_train, y_train)

/Users/lin/Documents/python_venvs/ml_with_python/env_ml_python/lib/python3.9/site-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

HistGradientBoostingClassifier(class_weight='balanced')

In [30]:
accuracy_score(y_true=y_train, y_pred=histgb.predict(X_train))

0.5438228193555159

In [31]:
accuracy_score(y_true=y_test, y_pred=histgb.predict(X_test))

0.5028571428571429

In [32]:
data[['sex']]

          sex     sex
0      Female  Female
1        Male    Male
2      Female  Female
3        Male    Male
4      Female  Female
...       ...     ...
59859  Female  Female
59860    Male    Male
59861    Male    Male
59862    Male    Male
59863    Male    Male

[59864 rows x 2 columns]

In [33]:
data.columns

Index(['phid', 'hid_x', 'clust_x', 'nh_x', 'pid_x', 'sex', 'age_years',
       'father_in_hse', 'mother_in_hse', 'months_away_from_hse', 'religion',
       'marital_status', 'clust_y', 'nh_y', 'pid_y', 'sex', 'age_yrs',
       'age_mths', 'measured_or_not', 'weight', 'measure_mode', 'Height',
       'hid_y', 'region', 'urbrur', 'WTA_S', 'clust', 'nh', 'pid',
       'attend_school', 'highest_edu'],
      dtype='object')

In [34]:
data = df_sel.merge(right=g7sec7j, on='phid', how='outer')

In [35]:
data.columns

Index(['phid', 'hid_x', 'clust_x', 'nh_x', 'pid_x', 's1q2', 's1q5y', 's1q14',
       's1q18', 's1q22', 's1q10', 's1q6', 'clust_y', 'nh_y', 'pid_y', 'sex',
       'age_yrs', 'age_mths', 's7jq0', 's7jq1', 's7jq2', 's7jq3', 'hid_y',
       'region', 'loc2', 'WTA_S'],
      dtype='object')

In [36]:
data = data.merge(right=df_sel_sec2, 
                  how='outer',
                  on='phid'
               )

In [37]:
data = data.rename(columns={'s7jq1': 'weight',
                     's7jq0': 'measured_or_not',
                     's7jq2': 'measure_mode',
                     's7jq3': 'Height',
                     'loc2':'urbrur',
                     's1q22':'months_away_from_hse',
                     's1q14':'father_in_hse',
                     's2aq1b':'highest_edu',
                     's1q2':'sex',
                     's1q18': 'mother_in_hse',
                     's1q5y': 'age_years',
                     's1q10': 'religion',
                     's2aq1': 'attend_school',
                     's1q6': 'marital_status'
                     }
            ).copy()

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59864 entries, 0 to 59863
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   phid                  59864 non-null  object
 1   hid_x                 59864 non-null  object
 2   clust_x               59864 non-null  float64
 3   nh_x                  59864 non-null  float64
 4   pid_x                 59864 non-null  float64
 5   sex                   59864 non-null  category
 6   age_years             59864 non-null  float64
 7   father_in_hse         59862 non-null  category
 8   mother_in_hse         59863 non-null  category
 9   months_away_from_hse  59864 non-null  float64
 10  religion              59864 non-null  category
 11  marital_status        40831 non-null  category
 12  clust_y               58804 non-null  float64
 13  nh_y                  58804 non-null  float64
 14  pid_y                 58804 non-null  float64
 15  sex                   58804 non-null  category
 16  age_yrs               58804 non-null  float64
 17  age_mths              7549 non-null   float64
 18  measured_or_not       58803 non-null  category
 19  weight                48393 non-null  float64
 20  measure_mode          48397 non-null  category
 21  Height                48145 non-null  float64
 22  hid_y                 58804 non-null  object
 23  region                58804 non-null  category
 24  urbrur                58804 non-null  category
 25  WTA_S                 58804 non-null  float64
 26  clust                 54516 non-null  float64
 27  nh                    54516 non-null  float64
 28  pid                   54516 non-null  float64
 29  attend_school         54516 non-null  category
 30  highest_edu           42844 non-null  category
dtypes: category(12), float64(16), object(3)
memory usage: 9.8+ MB

In [39]:
data = df_sel.merge(right=g7sec7j, on='phid', how='outer')

In [40]:
data = data.merge(right=df_sel_sec2, 
                  how='outer',
                  on='phid'
               )

In [41]:
data = data.rename(columns={'s7jq1': 'weight',
                     's7jq0': 'measured_or_not',
                     's7jq2': 'measure_mode',
                     's7jq3': 'Height',
                     'loc2':'urbrur',
                     's1q22':'months_away_from_hse',
                     's1q14':'father_in_hse',
                     's2aq1b':'highest_edu',
                     #'s1q2':'sex',
                     's1q18': 'mother_in_hse',
                     's1q5y': 'age_years',
                     's1q10': 'religion',
                     's2aq1': 'attend_school',
                     's1q6': 'marital_status'
                     }
            ).copy()

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59864 entries, 0 to 59863
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   phid                  59864 non-null  object
 1   hid_x                 59864 non-null  object
 2   clust_x               59864 non-null  float64
 3   nh_x                  59864 non-null  float64
 4   pid_x                 59864 non-null  float64
 5   s1q2                  59864 non-null  category
 6   age_years             59864 non-null  float64
 7   father_in_hse         59862 non-null  category
 8   mother_in_hse         59863 non-null  category
 9   months_away_from_hse  59864 non-null  float64
 10  religion              59864 non-null  category
 11  marital_status        40831 non-null  category
 12  clust_y               58804 non-null  float64
 13  nh_y                  58804 non-null  float64
 14  pid_y                 58804 non-null  float64
 15  sex                   58804 non-null  category
 16  age_yrs               58804 non-null  float64
 17  age_mths              7549 non-null   float64
 18  measured_or_not       58803 non-null  category
 19  weight                48393 non-null  float64
 20  measure_mode          48397 non-null  category
 21  Height                48145 non-null  float64
 22  hid_y                 58804 non-null  object
 23  region                58804 non-null  category
 24  urbrur                58804 non-null  category
 25  WTA_S                 58804 non-null  float64
 26  clust                 54516 non-null  float64
 27  nh                    54516 non-null  float64
 28  pid                   54516 non-null  float64
 29  attend_school         54516 non-null  category
 30  highest_edu           42844 non-null  category
dtypes: category(12), float64(16), object(3)
memory usage: 9.8+ MB

In [43]:
df_sel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59864 entries, 0 to 59863
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   phid    59864 non-null  object
 1   hid     59864 non-null  object
 2   clust   59864 non-null  float64
 3   nh      59864 non-null  float64
 4   pid     59864 non-null  float64
 5   s1q2    59864 non-null  category
 6   s1q5y   59864 non-null  float64
 7   s1q14   59862 non-null  category
 8   s1q18   59863 non-null  category
 9   s1q22   59864 non-null  float64
 10  s1q10   59864 non-null  category
 11  s1q6    40831 non-null  category
dtypes: category(5), float64(5), object(2)
memory usage: 3.5+ MB

In [44]:
g7sec7j.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58804 entries, 0 to 58803
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   phid      58804 non-null  object
 1   clust     58804 non-null  float64
 2   nh        58804 non-null  float64
 3   pid       58804 non-null  float64
 4   sex       58804 non-null  category
 5   age_yrs   58804 non-null  float64
 6   age_mths  7549 non-null   float64
 7   s7jq0     58803 non-null  category
 8   s7jq1     48393 non-null  float64
 9   s7jq2     48397 non-null  category
 10  s7jq3     48145 non-null  float64
 11  hid       58804 non-null  object
 12  region    58804 non-null  category
 13  loc2      58804 non-null  category
 14  WTA_S     58804 non-null  float64
dtypes: category(5), float64(8), object(2)
memory usage: 4.8+ MB

In [45]:
df_sel_sec2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54516 entries, 0 to 54515
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   phid    54516 non-null  object
 1   clust   54516 non-null  float64
 2   nh      54516 non-null  float64
 3   pid     54516 non-null  float64
 4   s2aq1   54516 non-null  category
 5   s2aq1b  42844 non-null  category
dtypes: category(2), float64(3), object(1)
memory usage: 1.8+ MB

In [46]:
df_sel = df_g7sec1[['phid', 'hid', 'clust', 'nh', 'pid', #'s1q2', 
                    's1q5y', 
                     's1q14', 's1q18', 's1q22', 's1q10', 's1q6'
                ]]

In [47]:
df_sel_sec2 = g7sec2[['phid', 'clust', 'nh', 'pid','s2aq1','s2aq1b']]

In [48]:
data = df_sel.merge(right=g7sec7j, on='phid', how='outer')

In [49]:
data = data.merge(right=df_sel_sec2, 
                  how='outer',
                  on='phid'
               )

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59864 entries, 0 to 59863
Data columns (total 30 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   phid      59864 non-null  object
 1   hid_x     59864 non-null  object
 2   clust_x   59864 non-null  float64
 3   nh_x      59864 non-null  float64
 4   pid_x     59864 non-null  float64
 5   s1q5y     59864 non-null  float64
 6   s1q14     59862 non-null  category
 7   s1q18     59863 non-null  category
 8   s1q22     59864 non-null  float64
 9   s1q10     59864 non-null  category
 10  s1q6      40831 non-null  category
 11  clust_y   58804 non-null  float64
 12  nh_y      58804 non-null  float64
 13  pid_y     58804 non-null  float64
 14  sex       58804 non-null  category
 15  age_yrs   58804 non-null  float64
 16  age_mths  7549 non-null   float64
 17  s7jq0     58803 non-null  category
 18  s7jq1     48393 non-null  float64
 19  s7jq2     48397 non-null  category
 20  s7jq3     48145 non-null  float64
 21  hid_y     58804 non-null  object
 22  region    58804 non-null  category
 23  loc2      58804 non-null  category
 24  WTA_S     58804 non-null  float64
 25  clust     54516 non-null  float64
 26  nh        54516 non-null  float64
 27  pid       54516 non-null  float64
 28  s2aq1     54516 non-null  category
 29  s2aq1b    42844 non-null  category
dtypes: category(11), float64(16), object(3)
memory usage: 9.8+ MB

In [51]:
data = data.rename(columns={'s7jq1': 'weight',
                     's7jq0': 'measured_or_not',
                     's7jq2': 'measure_mode',
                     's7jq3': 'Height',
                     'loc2':'urbrur',
                     's1q22':'months_away_from_hse',
                     's1q14':'father_in_hse',
                     's2aq1b':'highest_edu',
                     #'s1q2':'sex',
                     's1q18': 'mother_in_hse',
                     's1q5y': 'age_years',
                     's1q10': 'religion',
                     's2aq1': 'attend_school',
                     's1q6': 'marital_status'
                     }
            ).copy()

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59864 entries, 0 to 59863
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   phid                  59864 non-null  object
 1   hid_x                 59864 non-null  object
 2   clust_x               59864 non-null  float64
 3   nh_x                  59864 non-null  float64
 4   pid_x                 59864 non-null  float64
 5   age_years             59864 non-null  float64
 6   father_in_hse         59862 non-null  category
 7   mother_in_hse         59863 non-null  category
 8   months_away_from_hse  59864 non-null  float64
 9   religion              59864 non-null  category
 10  marital_status        40831 non-null  category
 11  clust_y               58804 non-null  float64
 12  nh_y                  58804 non-null  float64
 13  pid_y                 58804 non-null  float64
 14  sex                   58804 non-null  category
 15  age_yrs               58804 non-null  float64
 16  age_mths              7549 non-null   float64
 17  measured_or_not       58803 non-null  category
 18  weight                48393 non-null  float64
 19  measure_mode          48397 non-null  category
 20  Height                48145 non-null  float64
 21  hid_y                 58804 non-null  object
 22  region                58804 non-null  category
 23  urbrur                58804 non-null  category
 24  WTA_S                 58804 non-null  float64
 25  clust                 54516 non-null  float64
 26  nh                    54516 non-null  float64
 27  pid                   54516 non-null  float64
 28  attend_school         54516 non-null  category
 29  highest_edu           42844 non-null  category
dtypes: category(11), float64(16), object(3)
memory usage: 9.8+ MB

In [53]:
data.columns

Index(['phid', 'hid_x', 'clust_x', 'nh_x', 'pid_x', 'age_years',
       'father_in_hse', 'mother_in_hse', 'months_away_from_hse', 'religion',
       'marital_status', 'clust_y', 'nh_y', 'pid_y', 'sex', 'age_yrs',
       'age_mths', 'measured_or_not', 'weight', 'measure_mode', 'Height',
       'hid_y', 'region', 'urbrur', 'WTA_S', 'clust', 'nh', 'pid',
       'attend_school', 'highest_edu'],
      dtype='object')

In [54]:
data.describe()

,clust_x,nh_x,pid_x,age_years,months_away_from_hse,clust_y,nh_y,pid_y,age_yrs,age_mths,weight,Height,WTA_S,clust,nh,pid
count,59864.000000,59864.000000,59864.000000,59864.000000,59864.000000,58804.000000,58804.000000,58804.000000,58804.000000,7549.000000,48393.000000,48145.000000,58804.000000,54516.000000,54516.000000,54516.000000
mean,70545.428688,7.998814,3.637762,24.997461,0.348423,70545.655466,8.003299,3.615162,25.051408,5.379653,46.470164,140.439831,474.122793,70545.050829,7.999817,3.446273
std,295.073851,4.320057,2.751767,20.289026,1.535261,295.070610,4.318244,2.736751,20.359195,3.498465,23.226349,35.129087,443.717750,295.615170,4.320843,2.652761
min,70001.000000,1.000000,1.000000,0.000000,0.000000,70001.000000,1.000000,1.000000,0.000000,0.000000,0.250000,10.000000,21.816969,70001.000000,1.000000,1.000000
25%,70297.000000,4.000000,2.000000,9.000000,0.000000,70297.000000,4.000000,2.000000,9.000000,2.000000,25.700001,122.000000,203.767820,70296.000000,4.000000,1.000000
50%,70579.000000,8.000000,3.000000,19.000000,0.000000,70579.000000,8.000000,3.000000,19.000000,5.000000,50.599998,155.000000,375.380188,70576.500000,8.000000,3.000000
75%,70799.000000,12.000000,5.000000,37.000000,0.000000,70799.000000,12.000000,5.000000,37.000000,8.000000,62.400002,165.000000,592.152266,70800.000000,12.000000,5.000000
max,71000.000000,15.000000,31.000000,99.000000,12.000000,71000.000000,15.000000,31.000000,99.000000,11.000000,222.000000,264.000000,6614.401149,71000.000000,15.000000,30.000000

In [55]:
data[['sex']]

          sex
0      Female
1        Male
2      Female
3        Male
4      Female
...       ...
59859  Female
59860    Male
59861    Male
59862    Male
59863    Male

[59864 rows x 1 columns]

In [56]:
data_mar_only = data.dropna(subset='marital_status')

In [57]:
data_mar_only.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40831 entries, 0 to 59863
Data columns (total 30 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   phid                  40831 non-null  object
 1   hid_x                 40831 non-null  object
 2   clust_x               40831 non-null  float64
 3   nh_x                  40831 non-null  float64
 4   pid_x                 40831 non-null  float64
 5   age_years             40831 non-null  float64
 6   father_in_hse         40829 non-null  category
 7   mother_in_hse         40830 non-null  category
 8   months_away_from_hse  40831 non-null  float64
 9   religion              40831 non-null  category
 10  marital_status        40831 non-null  category
 11  clust_y               40050 non-null  float64
 12  nh_y                  40050 non-null  float64
 13  pid_y                 40050 non-null  float64
 14  sex                   40050 non-null  category
 15  age_yrs               40050 non-null  float64
 16  age_mths              0 non-null      float64
 17  measured_or_not       40049 non-null  category
 18  weight                32641 non-null  float64
 19  measure_mode          32644 non-null  category
 20  Height                32603 non-null  float64
 21  hid_y                 40050 non-null  object
 22  region                40050 non-null  category
 23  urbrur                40050 non-null  category
 24  WTA_S                 40050 non-null  float64
 25  clust                 40087 non-null  float64
 26  nh                    40087 non-null  float64
 27  pid                   40087 non-null  float64
 28  attend_school         40087 non-null  category
 29  highest_edu           30430 non-null  category
dtypes: category(11), float64(16), object(3)
memory usage: 6.7+ MB

In [58]:
data_mar_only[['weight', 'Height', 'age_yrs']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40831 entries, 0 to 59863
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   weight   32641 non-null  float64
 1   Height   32603 non-null  float64
 2   age_yrs  40050 non-null  float64
dtypes: float64(3)
memory usage: 1.2 MB

In [59]:
id(data_mar_only)

140444277409440

In [60]:
s = "hello world"

s[0]

'h'

In [61]:
data_mar_only.columns

Index(['phid', 'hid_x', 'clust_x', 'nh_x', 'pid_x', 'age_years',
       'father_in_hse', 'mother_in_hse', 'months_away_from_hse', 'religion',
       'marital_status', 'clust_y', 'nh_y', 'pid_y', 'sex', 'age_yrs',
       'age_mths', 'measured_or_not', 'weight', 'measure_mode', 'Height',
       'hid_y', 'region', 'urbrur', 'WTA_S', 'clust', 'nh', 'pid',
       'attend_school', 'highest_edu'],
      dtype='object')

In [62]:
"""
# Introduction - Problem statement

DateRush Mate (hypothetical firm used to establish a business case for this data science project) aims to be one of the 
leading platform providers for dating services hence has a keen focus on continuous improvement of their products. 
One of such servces is aiding matches make better decisions on their potential partners before taking in-person dates and 
establishing strong bonds. While openness is encouraged as the cornerstone of building trust among matches, not every platform 
user provides the same amount of information. Helping bridge the gap and developing tools to provide such information has 
make a solid business case so much so that we have have segmented users into different tiers with Pro users being provided 
the services of filling in the blanks on information that a match has not provided and is not required to do 
so to start with. For this, intelligent tools are required for prediction.


In providing such services, the most requested information by our users is to know the marital status of client. Given that 
an platform user is not obliged to include their the marital status on the profile but have the option of asking their match 
in person, many users leave-out such information yet consider know that of a partner important in deciding whether an in-person 
date or serious dating should be considered. Driven by solving problems that are most important and whose solutions are most 
requested by users, predicting the marital status of users is designated as a high priority task for which a demonstration of 
how to develop a working solution is provided in this post. 


The understanding gained from the problem statement as well as our background as data scientists informs our judgement that 
a machine learning solution is required rather than beating information or confession out of our clients. Thus, the focus of 
this discussion is on demonstration how to develop a machine learning solution for the given problem. 

As can be deduced already, we have different stakeholders and collaborators working together at different stages to devise 
a solution. Identifying these stakeholders and partners is critical for the success of the project. In particular, this enables
defining clear cut-out deliverables and requirements upon which all parties can determine success status for the project. 
The stakeholders for this project are identified to be product owner and date counsellors whose services are 
requested by some users after matching and proceeding for serious relationship. The collaborators are the data scientist and 
Machine Learning Engineer. The most discernible difference between the stakeholders which also poses a challenge to resolve is 
the fact that they have different technical backgrounds. By this, the end-users of the product are non-technical audience 
who need the easiest way to use the solutions without any coding required while the Data Scientist will write codes for which he/she 
can explain the logic to the non-technical audience when the need arises.

In response to providing such medium for capturing the project as a snapshot for reference among all stakeholders, a problem 
design framework is used to capture the problem statement and project for that matter. For this the Situation Complication Question 
Answer (SCQA) is used to capture the problem statement as a snapshot. This allows for easy communication of the project to 
non-technical users. The SCQA is depicted below;


## Research Question 

(i) How do we identify a dataset with features that we can collect data for on our plantform for developing an accurate model?

(ii) How do we leverage available data to predict marital status of people?


## Research Objective

(i) To identify open source data with features for predicting marital status

(ii) To develop a machine learning model for predicting marital status

 

## Search for Data for modelling

Data science projects start with data collection and for most business cases, data is usually provided by the business 
instead of field data collection. Instances where data is not available requires usually an open source data as one of the 
approaches to developed a model. In such cases, where we will still need to increase the sample size of the data and improve 
the model in the future, focus is drawn to which of the features in the open source data can the business generate its own 
data for. Using dataset with features for which data cannot be generated internal will come with an extra challenge and cost.
Hence, even though several open-source data  may be available not all of them will be useful in case, there still need to 
be used to meet business needs in the future. For example, if a data has blood group or HIV/AIDS status as one of the feature 
and we can not generate data for that feature in our business in the future then we should not use that feature for modelling 
to meet business needs. Features in dataset for modelling should be one that will be available in the future when new data 
is available. This inform the search for dataset and features for developing the modelling.


The dataset used for developing the machine learning model is the Ghana Living Standards Survey 7 (2016/2017). 
The dataset can be downloaded from https://www2.statsghana.gov.gh/nada/index.php/catalog/97/study-description. 
The dataset contains data on marital status and other features which are preselected to be explored for developing the model.


## Understanding the dataset / data collection method

Before even starting the data exploration, it is critical that we familiarize ourselves with the metadata and 
questionnaires to understand the various variables and their background. The files from which the variables were 
extracted are mainly from g7sec1.sav, g7sec7j, and g7sec2. These files are found in the downloaded dataset are 
identified to the relevant ones for this analysis. A review of the variables and meaning from these files is provided
below. For each variable, the corresponding questions asked to collect the data is provided

• s1q2: sex of individual

• s1q18:  'mother_in_hse'  <<  18 Does (NAME’S) mother live in this household?

• s1q10: 'religion'  <<  What is (NAME’S) religious denomination?

• s7jq3: 'Height'  <<  Height (cm) of household member.

• s1q14:  'father_in_hse'   <<   Does (NAME’S) father live in this household?

• s1q22:  'months_away_from_hse'   <<  For how many months during the past 12 months has (NAME) been continuously away from this household?

• s2aq1b: 'highest_edu'   <<   What is the highest level of education (NAME) has attained?

• 's2aq1': 'attend_school'  <<  Has (NAME) ever attended school?

• 's1q6': 'marital_status'  <<   What is (NAME’S) present marital status?

• 's7jq1': 'weight'  <<   Weight (Kg) of household member

• phid: id of individual in household

• age_yrs

• sex



### Identifying and categorizing variables in the data

The data type used to store a variable determines the typs of exploratory analysis, visualization and categorical machine 
learning algorithm to use. Thus, the various variables are accessed based on that as follows:


#### Target / Outcome variable

• marital_status: Categorical

#### Predictor / feature variables

• mother_in_hse: Categorical

• religion: Categorical 

• Height: Continuous quantitative 

• father_in_hse: Categorical 

• highest_edu: Categorical 

• attend_school:  Categorical 

• weight:  Continuous Quantitative

• months_away_from_hse: Discrete Quantitative

• age_yrs: Discrete Quantitative

• sex: Categorical 

Exploratory data analysis is organized to reflect the data types of the various variables as follows.


# Exploratory analysis

Exploratory data analysis is undertaken to investigate some of the assumptions that some machine learning algorithms 
require. Among others, the type of underlying distribution that a variable is from, the relationsip between the 
various variables and possible data transformation are explored at this stage. The insights gained from such analysis 
is important for undertaking feature selection.


### Data analysis 

Given the various features preselected to be explored for modelling are in different files, 
there is the need to combine data from the various files. For this, a common variable in the files is 
required and for this "phid" variable is used as follows. 
"""

'\n# Introduction - Problem statement\n\nDateRush Mate (hypothetical firm used to establish a business case for this data science project) aims to be one of the \nleading platform providers for dating services hence has a keen focus on continuous improvement of their products. \nOne of such servces is aiding matches make better decisions on their potential partners before taking in-person dates and \nestablishing strong bonds. While openness is encouraged as the cornerstone of building trust among matches, not every platform \nuser provides the same amount of information. Helping bridge the gap and developing tools to provide such information has \nmake a solid business case so much so that we have have segmented users into different tiers with Pro users being provided \nthe services of filling in the blanks on information that a match has not provided and is not required to do \nso to start with. For this, intelligent tools are required for prediction.\n\n\nIn providing such services, the most requested information by our users is to know the marital status of client. Given that \nan platform user is not obliged to include their the marital status on the profile but have the option of asking their match \nin person, many users leave-out such information yet consider know that of a partner important in deciding whether an in-person \ndate or serious dating should be considered. Driven by solving problems that are most important and whose solutions are most \nrequested by users, predicting the marital status of users is designated as a high priority task for which a demonstration of \nhow to develop a working solution is provided in this post. \n\n\nThe understanding gained from the problem statement as well as our background as data scientists informs our judgement that \na machine learning solution is required rather than beating information or confession out of our clients. Thus, the focus of \nthis discussion is on demonstration how to develop a machine learning solution for the given problem. \n\nAs can be deduced already, we have different stakeholders and collaborators working together at different stages to devise \na solution. Identifying these stakeholders and partners is critical for the success of the project. In particular, this enables\ndefining clear cut-out deliverables and requirements upon which all parties can determine success status for the project. \nThe stakeholders for this project are identified to be product owner and date counsellors whose services are \nrequested by some users after matching and proceeding for serious relationship. The collaborators are the data scientist and \nMachine Learning Engineer. The most discernible difference between the stakeholders which also poses a challenge to resolve is \nthe fact that they have different technical backgrounds. By this, the end-users of the product are non-technical audience \nwho need the easiest way to use the solutions without any coding required while the Data Scientist will write codes for which he/she \ncan explain the logic to the non-technical audience when the need arises.\n\nIn response to providing such medium for capturing the project as a snapshot for reference among all stakeholders, a problem \ndesign framework is used to capture the problem statement and project for that matter. For this the Situation Complication Question \nAnswer (SCQA) is used to capture the problem statement as a snapshot. This allows for easy communication of the project to \nnon-technical users. The SCQA is depicted below;\n\n\n## Research Question \n\n(i) How do we identify a dataset with features that we can collect data for on our plantform for developing an accurate model?\n\n(ii) How do we leverage available data to predict marital status of people?\n\n\n## Research Objective\n\n(i) To identify open source data with features for predicting marital status\n\n(ii) To develop a machine learning model for predicting marital status\n\n \n\n## Search for Data for modelling\n\nData science projects start with data collection and for most business cases, data is usually provided by the business \ninstead of field data collection. Instances where data is not available requires usually an open source data as one of the \napproaches to developed a model. In such cases, where we will still need to increase the sample size of the data and improve \nthe model in the future, focus is drawn to which of the features in the open source data can the business generate its own \ndata for. Using dataset with features for which data cannot be generated internal will come with an extra challenge and cost.\nHence, even though several open-source data  may be available not all of them will be useful in case, there still need to \nbe used to meet business needs in the future. For example, if a data has blood group or HIV/AIDS status as one of the feature \nand we can not generate data for that feature in our business in the future then we should not use that feature for modelling \nto meet business needs. Features in dataset for modelling should be one that will be available in the future when new data \nis available. This inform the search for dataset and features for developing the modelling.\n\n\nThe dataset used for developing the machine learning model is the Ghana Living Standards Survey 7 (2016/2017). \nThe dataset can be downloaded from https://www2.statsghana.gov.gh/nada/index.php/catalog/97/study-description. \nThe dataset contains data on marital status and other features which are preselected to be explored for developing the model.\n\n\n## Understanding the dataset / data collection method\n\nBefore even starting the data exploration, it is critical that we familiarize ourselves with the metadata and \nquestionnaires to understand the various variables and their background. The files from which the variables were \nextracted are mainly from g7sec1.sav, g7sec7j, and g7sec2. These files are found in the downloaded dataset are \nidentified to the relevant ones for this analysis. A review of the variables and meaning from these files is provided\nbelow. For each variable, the corresponding questions asked to collect the data is provided\n\n• s1q2: sex of individual\n\n• s1q18:  \'mother_in_hse\'  <<  18 Does (NAME’S) mother live in this household?\n\n• s1q10: \'religion\'  <<  What is (NAME’S) religious denomination?\n\n• s7jq3: \'Height\'  <<  Height (cm) of household member.\n\n• s1q14:  \'father_in_hse\'   <<   Does (NAME’S) father live in this household?\n\n• s1q22:  \'months_away_from_hse\'   <<  For how many months during the past 12 months has (NAME) been continuously away from this household?\n\n• s2aq1b: \'highest_edu\'   <<   What is the highest level of education (NAME) has attained?\n\n• \'s2aq1\': \'attend_school\'  <<  Has (NAME) ever attended school?\n\n• \'s1q6\': \'marital_status\'  <<   What is (NAME’S) present marital status?\n\n• \'s7jq1\': \'weight\'  <<   Weight (Kg) of household member\n\n• phid: id of individual in household\n\n• age_yrs\n\n• sex\n\n\n\n### Identifying and categorizing variables in the data\n\nThe data type used to store a variable determines the typs of exploratory analysis, visualization and categorical machine \nlearning algorithm to use. Thus, the various variables are accessed based on that as follows:\n\n\n#### Target / Outcome variable\n\n• marital_status: Categorical\n\n#### Predictor / feature variables\n\n• mother_in_hse: Categorical\n\n• religion: Categorical \n\n• Height: Continuous quantitative \n\n• father_in_hse: Categorical \n\n• highest_edu: Categorical \n\n• attend_school:  Categorical \n\n• weight:  Continuous Quantitative\n\n• months_away_from_hse: Discrete Quantitative\n\n• age_yrs: Discrete Quantitative\n\n• sex: Categorical \n\nExploratory data analysis is organized to reflect the data types of the various variables as follows.\n\n\n# Exploratory analysis\n\nExploratory data analysis is undertaken to investigate some of the assumptions that some machine learning algorithms \nrequire. Among others, the type of underlying distribution that a variable is from, the relationsip between the \nvarious variables and possible data transformation are explored at this stage. The insights gained from such analysis \nis important for undertaking feature selection.\n\n\n### Data analysis \n\nGiven the various features preselected to be explored for modelling are in different files, \nthere is the need to combine data from the various files. For this, a common variable in the files is \nrequired and for this "phid" variable is used as follows. \n'